body{
    background-color: #e6f7ff;
}

.main-header{
    margin: 10px 20px;
}

.logo{
    text-align: center;
    color:black;
    background-color:#b4e6ff;
   padding:0;
    margin: 0 20px;
    border: 1px solid #333;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px;
    font-family:monospace;
    font-weight:bold;
    font-size: 2em;
    
    transition: all 0.6s linear;
}
.logo:hover{
    box-shadow:0px 5px 0px 0px #444;
}
nav >ul{
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}


.main-nav a{
    text-decoration: none;
    color:#222;
}

li:first-child{
    border-radius: 10px 0px 0px 10px;
}

li:last-child{
    border-radius: 0px 10px 10px 0px;
}
.main-nav li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    flex-grow: 1;
    background-color:#c7e5f3;
    padding:1em;
    margin-right:20px;
    transition: all 0.6s ;
}
li:hover{
    flex-grow: 2;
    background-color: #91d9fd;
}

.cta-button{
    justify-content: center;
}
button {
    
    background-color:#ccc;
    font-weight:bold;
    padding:5px;
    border:none;
}
 
section > h2{
    text-align: center;
    justify-content: center;
    font-family:monospace;
    font-weight: bold;
    font-size: 1.8em;
}

h1{
    font-family:monospace;
    font-weight:lighter;
}

.feature-container{
    display:flex;
    justify-content: space-around;
    padding:20px;
}

.feature-card{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex: 1;
    text-align: center;
    padding: 20px;
    margin:0 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform .3s;
}
.feature-card h3{
    font-family:sans-serif;
}
.feature-card:hover{
    transform:scale(1.2);
    background-color: #b4e6ff;
}

.hero-section{
    display:flex;
    height:400px;
    background-color: #b3e2fa;
    flex-direction: column;

    justify-content:center;
    text-align: center;
    align-items: center;
}
.hero-section p{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
